.card-body {
    padding: 0px 18px 0px 18px;
}
.cardtitle{
    font-size: 20px;
}
.overview {
    font-size: 15px;
    font-style: italic;
}

.vote_average {
    font-size: 15px;
}

.card {
    width: 300px;
    margin: 0px 8px 6px 8px;
    

}

.cards {
    display: inline-flex;
    align-content: flex-start;
    flex-wrap: wrap;
    justify-content: center;
}

.poster_path {
    border-radius: 10%;
    width: 300px;
}

.title {
    font-size: 30px;
    font-style: italic;
    margin: 0px auto 20px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
#search{
    font-size: 15px;
    outline-color: rgba(216, 216, 216, 0.902);
}

#searchbtn {
    font-size: 15px;
    color: white;
    background-color: black;
    margin-left: 10px;
}
.rank{
    font-size: 40px;
    font-weight: 900;
    font-style: italic;
}

.search{
    display: grid;
    grid-template-rows: 50px 50px;
    grid-template-columns: 250px 100px;
    margin-top: 20px;
  }

  #chartbtn{
    width: 180px;
    height: 40px;
    font-size: 20px;
    font-style: italic;
    color: black;
    background-color: white;
    border: 4px solid;
    margin: auto auto 50px auto;
    border-radius: 10%;

  }
  #mobilebtn{
    width: 100px;
    height: 30px;
    border : none;
  }
  
  #desktopbtn{
    width: 100px;
    height: 30px;
    border : none;
  }